
.banner{
  width:100%;
  height:620px;
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position: center 10%;
  position: relative;
}
.banner>p:nth-child(1){
  text-align: center;
  font: 900 80px/30px "";
  color: #fff;
  position:absolute;
  top:270px;
}
.banner>p:nth-child(2){
  text-align: center;
  font: normal 15px/20px "";
  color: #fff;
  position:absolute;
  top:350px;
}
.banner>p:nth-child(3){
  width: 250px;
  height:40px;
  border:1px solid #fff;
  text-align: center;
  font: normal 15px/40px "";
  color: #fff;
  position:absolute;
  top:450px;
  left:50%;
  margin-left: -125px;
}
main{
  background: #fff;
  position: absolute;
  top:-50px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
}
#img1{
  margin-top:170px;
}
#hot>div{
  width:45px;
  height:4px;
  background:#97785F;
}
#hot>p:nth-child(2){
  margin: 0;
  font-size: 12px;
  line-height: 30px;
}
#hot>p:nth-child(4),.hotxia{
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color:#eee;
  letter-spacing:30px
}
.line{
  height:1px;
  background:#97785F;
}
.img2{
  position:absolute;
  left:50%;
  margin:60px 0 0 -300px;
}
.span{
  width:100%;
  text-align: center;
  margin:300px 0 20px;
}
.span>span:nth-child(1),
.span1>span:nth-child(1){
  font:bold 18px/20px "";
  position:relative;
}
.span>span:nth-child(1):before,
.span1>span:nth-child(1):before{
  content: "";
  width:8px;
  height:8px;
  background:#000;
  position:absolute;
  top:9px;
  left:-13px;
}
.span>span:nth-child(2),
.span1>span:nth-child(2){
   color:#c8c8c8;
   font:500 18px/20px "";
 }
.span>span:nth-child(3),
.span1>span:nth-child(3){
  color:#c8c8c8;
  font:500 18px/20px "";
}
.lv{
  font-size: 14px;
  color:#787878;
  margin-bottom:30px;
}
.span1{
  position:relative;
  left:13px;
  margin-bottom: 20px;
}
.picture{
  height:335px;
  background-image: url("../img/4.jpg");
  background-size: cover;
  background-position: center;
}
.picture2{
  height:335px;
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-position: center;
  position:absolute;
  top:300px;
}
#boxspan{
  margin:30px 0 20px;
}
#box3{
  margin-top:50px;
  margin-bottom:100px;
}
#box5{
  margin-top:50px;
  margin-bottom:20px;
}
.zuo{
  color:#b2b2b2;
  text-align: center;
  font:200 13px/20px "";
  margin:0 0 20px;
}
.img3{
  position:absolute;
  left:50%;
  margin:60px 0 0 -168px;
}
#box4{
  margin-top:70px;
}
.body{
  height:500px;
  display: flex;
  justify-content: space-between;
}
.body>div:nth-child(1){
  width:46%;
  height:380px;
  background-image: url("../img/5.jpg");
  background-size: cover;
  float:left;
}
.body>div:nth-child(2){
  width:46%;
  height:380px;
  float:left;
}
.img-span{
  text-align: center;
  margin-bottom:15px;
}
.img-span>span{
  font:600 18px/20px "";
}
.p1{
  font:normal 16px/20px "";
  color:#787878;
}
.p2{
  color:#c3c3c3;
  font-size: 14px;
}
.p-img3{
  text-align: center;
  margin-bottom: 50px;
}
.bot{
  margin:10px 0;
  height: auto;
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
}
.floorbox{
  margin-top:50px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.left{
  width:10%;
  height:100%;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
}
.right{
  width:85%;
  background:#f6f6f6;
  display: flex;
  justify-content: space-around;
}
.ll{
  width:80%;
}
.rr{
  width:10%;
}
.ll>div>span{
  margin-right: 15px;
}
.ll>div>span:nth-child(1){
  color:#D6BCB1;
  font:800 14px/16px "";
}
.ll>div>span:nth-child(1)~span{
  color:#8E8B8B;
  position:relative;
}
.ll>div>span:nth-child(2):after{
  content: "";
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #8E8B8B;
  position:absolute;
  left:-12px;
  top:3px;
}
.ll>div>span:nth-child(3):after{
  content: "";
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #8E8B8B;
  position:absolute;
  left:-12px;
  top:3px;
}
.ll>div>span:nth-child(4):after{
  content: "";
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #8E8B8B;
  position:absolute;
  left:-12px;
  top:3px;
}
.ll>p{
  color:#8E8B8B;
}
.rr>img{
  margin-top:50px;
}
.message{
 margin:100px 0 10px;
}
.mass{
  height:200px;
  position: relative;
}
.add{
  width:100px;
  height:100px;
  background:#EBEBEB;
  position:absolute;
  z-index: 2;
}
.addxia{
  width:95%;
  height:100px;
  background:#f6f6f6;
  border:1px solid #ebebeb;
  position:absolute;
  top:20px;
  left:5%;
}