@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.H-header {
  height: 88px;
}

.H-logo {
  float: left;
  margin-top: 32px;
  margin-left: 13px;
}

.H-text {
  font-size: 24px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  font-family: "苹方";
}

.H-head-icon-list {
  float: right;
  width: 60px;
  height: auto;
  position: relative;
  margin-top: 32px;
}

.H-head-icon-list img {
  cursor: pointer;
}

.H-list-box {
  width: 684px;
  height: 162px;
  background: #FFFFFF;
  position: absolute;
  left: -636px;
  top: 50px;
  font-family: "苹方";
  color: #a2a2a2;
  font-size: 30px;
  text-align: center;
  line-height: 77px;
  background-image: url(../img/H-img/list-border.png);
  border: 1px solid #535353;
  background-size: 684px;
  display: none;
}

.H-list-box a {
  display: block;
  color: #A2A2A2;
  width: 226px;
  height: 77px;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.H-list-box .H-active {
  color: #000;
}

.H-banner-box {
  height: 803px;
  background-image: url(../img/H-img/H-min-banner.png);
  background-size: auto 803px;
  background-position: -99px;
  background-repeat: no-repeat;
}

.H-banner-box .tin-2 {
  display: block;
  margin-top: 270px;
  margin-bottom: 90px;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  color: #FFFFFF;
}

.H-banner-box p {
  font-size: 72px;
  text-align: center;
  line-height: 72px;
  color: #FFFFFF;
}

.H-banner-box p span {
  color: #f9c45e;
  font-size: 72px;
  display: inline-block;
}

.H-banner-box b {
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-family: 'helvetica';
  margin-top: 60px;
}

.H-banner-box b span {
  color: #f9c45e;
}

.H-banner-box .china {
  margin-top: 30px;
  font-size: 20px;
  font-family: "苹方";
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
}

.H-banner-box .china span {
  color: #f9c45e;
}

.H-big-header {
  background-color: #020203;
  height: 72px;
}

.H-big-logo img {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 20px;
  margin-left: 0px;
}

.H-big-logo p {
  margin-top: 18px;
  margin-left: 16px;
  float: left;
  font-size: 24px;
  color: #FFFFFF;
  font-family: "微软雅黑";
}

.H-big-logo p span {
  display: inline-block;
  font-size: 20px;
  font-family: helvetica;
}

.H-adorn {
  background-image: url(../img/H-img/H-head-adorn.png);
  width: 69px;
  height: 100px;
  background-size: 69px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.H-header-list {
  margin-top: 32px;
  font-size: 18px;
}

.H-header-list a {
  color: #FFFFFF;
  text-decoration: none;
}

.H-header-list a:hover {
  text-decoration: none;
  color: #f9c45e;
}

.H-header-list .H-active-1 {
  color: #f9c45e;
}

.H-search {
  position: relative;
}

.H-search .H-inputbox {
  padding: 4px 0px 4px 26px;
  height: 26px;
  border-radius: 13px;
  width: 108px;
  margin-top: 31px;
  background-color: #FFFFFF;
}

.H-search input {
  width: 90%;
  height: 100%;
  border: none;
}

.H-search span {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 37px;
  left: 24px;
}

.H-banner-box-1 {
  width: auto;
  height: 580px;
  overflow: hidden;
  position: relative;
}

.H-banner-box-1 .H-banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  background-image: url(../img/H-img/banner-1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s;
  text-decoration: none;
}

.H-banner-box-1 .first {
  transition: all 2s;
  opacity: 1;
  z-index: 10;
}

.H-banner-img .tin {
  display: block;
  margin-top: 78px;
  margin-bottom: 82px;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  color: #FFFFFF;
}

.H-banner-img p {
  font-size: 72px;
  text-align: center;
  line-height: 72px;
  color: #FFFFFF;
}

.H-banner-img p span {
  color: #f9c45e;
  font-size: 72px;
  display: inline-block;
}

.H-banner-img b {
  display: block;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-family: 'helvetica';
  margin-top: 42px;
}

.H-banner-img b span {
  color: #f9c45e;
}

.H-banner-img .china {
  margin-top: 25px;
  font-size: 20px;
  font-family: "苹方";
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
}

.H-banner-img .china span {
  color: #f9c45e;
}

.H-banner-img .H-ban-button {
  width: 166px;
  height: 33px;
  border: 3px solid #c9c9c9;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.H-banner-img .H-ban-button span {
  font-size: 18px;
  color: #C9C9C9;
}

.H-nav {
  width: 120px;
  height: 12px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin-left: -60px;
  z-index: 100;
}

.H-nav li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.H-nav .nav-active {
  background-color: #f9c45e;
}

.H-ly-center {
  background-image: url(../img/H-img/H-title.png);
  background-size: 266px;
  width: 266px;
  height: 57px;
  margin: 0 auto;
  margin-top: 80px;
}

.H-ly-title {
  text-align: center;
  font-size: 36px;
  color: #787777;
  margin-top: 20px;
  margin-bottom: 18px;
}

.H-ly-title-2 {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  color: #959595;
}

.H-ly-title-2 span {
  font-weight: bold;
}

.center-imgbox {
  text-align: center;
  margin-top: 48px;
  color: #636363;
}

.center-imgbox .title-min-box {
  text-decoration: none;
  color: #686868;
}

.center-imgbox .title-min-box .p-1 {
  margin-top: 32px;
  font-size: 30px;
}

.center-imgbox .title-min-box .p-2 {
  font-size: 24px;
}

.center-imgbox .title-min-box .p-3 {
  font-size: 20px;
}

.center-imgbox .title-lg-box {
  text-decoration: none;
  color: #686868;
}

.center-imgbox .title-lg-box .p-1 {
  margin-top: 28px;
  font-size: 18px;
}

.center-imgbox .title-lg-box .p-2 {
  font-size: 18px;
}

.center-imgbox .title-lg-box .p-3 {
  font-size: 12px;
}

.H-right, .H-left {
  height: 378px;
  line-height: 378px;
  font-size: 46px;
  font-weight: bold;
  font-family: "宋体";
  text-align: center;
  color: #a0a0a0;
  opacity: 0.8;
  cursor: pointer;
}

.H-right:hover, .H-left:hover {
  opacity: 1;
}

.H-left:hover {
  opacity: 1;
}
